#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  border-radius: 10px;
  background-color: #664a3a;
  padding: 5vh 5vw;
  margin-top: 5vh;
}
.rowForm {
  margin-bottom: 3vh;
}

label {
  font-size: 1.3rem;
}
input, select{
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
input[type=file] {
  padding: 0px;
}
select{
  padding: 0px 10px;
}

button {
  height: 4vh;
  width: 6vw;
  border-radius: 5px;
  font-size: 1rem;
}
button:hover {
  background-color: #ccc;
}
