/* #content {
  display: flex;
  align-items: center;
} */
form {
  border-radius: 10px;
  background-color: #664a3a;
  padding: 5vh 5vw;
  width: 40vw;
  margin: 5vh auto;
}
.rowForm {
  margin-bottom: 3vh;
}

label {
  font-size: 1.3rem;
}
input, select{
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
input[type=file] {
  padding: 0px;
}
select{
  padding: 0px 10px;
}

button {
  border: none;
  min-width: 60px;
  height: 30px;
  width: 6vw;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
  background-color: #ccc;
}


@media(max-width:760px){
  form {
    width: 95vw;
  }
}
