:root {
  font-size: 15px;
}
* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #000;
}
body{
  background-image: url(../images/bola-desktop.jpg);
  background-attachment: fixed;
  background-position: center;
}

nav {
  background-color: #29652a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

#descricao {
  padding: 2vh 2vw;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#descricao h1{
   color: black;
   margin: 4vh 0;
}
#descricao p {
  font-size: 1.3rem;
  text-align: justify;
}
#descricao a {
  justify-self: flex-end;
}

#entrada {
  padding: 3vh 2vw;
  text-align: justify;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

a {
  text-decoration: none;
  background-color: #29652a;
  color: #fff;
  padding: 8px 5px;
  margin: 1vh 0;
  border-radius: 5px;
  border: #29652a solid 1px;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  width: 30vw;
}

a:hover {
  background-color: rgb(232, 255, 227);
  color: #29652a;
}

.card {
  border-radius: 10px;
  margin: 3vh 2vw 3vh 0;
  background-color: rgba(255, 255, 255, 0.788);
  box-shadow: 5px 5px 15px 5px rgba(92, 88, 88, 0.466);
  display: flex;
  flex-direction: column;
}
.card p {
  font-size: 1.3rem;
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*MOBILE*/
@media (max-width: 760px) {
  body {
    display: flex;
    flex-direction: column;
    background-image: url(../images/gramado-M.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #descricao {
    flex-direction: column;
  }
  .card {
    margin: 3vh 2vw;
  }
  .card div {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  a {
    width: auto;
  }
}


@media(max-width: 450px){
  body{
    background-image: url(../images/gramado-Smartphones.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
