table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
}
td,
th {
  border: 1px solid black;
  padding: 5px 10px;
}
tr:nth-child(odd) {
  background-color: #664A3A;
}
tr:nth-child(even) {
  background-color: #6e6e6e;
}
td:nth-child(8n){
  display: flex;
}